.section1{
    background-color: #F3E8D3;
    width: 390px;
    height: 813px
    }
.section2{
    background-color: #FFDBD6;
    width: 390px;
    height: 1534px;
    }
.section3{
    background-color: #F3E8D3;
    width: 390px;
    height: 765px;
    top: -23px
    }
.section4{
    background-color: #FFDBD6;
    width: 390px;
    height: 1767px;
    }
.section5{
    background-color: #FFDBD6;
    width: 390px;
    height: 639px;
    }
.section6{
    background-color: #F3E8D3;
    width: 390px;
    height: 42px;
    }
.img{
    margin-top: -23px;
    }
.map{
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    }
      
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }